/* General layout */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.Title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.LoginContainer {
    width: 75%;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

.LoginTitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.FormContainer {
width: 80%;
margin:auto;
}

/* Input box styling */
.input-box {
    width: 100%;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Button styling */
.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}

.login-button:hover {
    background-color: #45a049;
}

/* Remember me and forgot password section */
.remember-forgot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px 0;
}

.remember-checkbox {
    display: inline-flex; /* Change to inline-flex to align checkbox and text */
    align-items: center;
    font-size: 0.9rem;
}

.remember-checkbox input {
    margin-right: 5px; /* Add spacing between checkbox and text */
}

/* Forgot password link */
.forgot-link {
    font-size: 0.9rem;
    color: #007BFF;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

/* Register section */
.register-link {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}