.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  
  .Title {
    margin-top: 7%;
    font-weight: bold;
    font-size:xx-large;
  }
  
  .container {
    width: 75%;
    height: 50%;
    margin-top: 15%;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Aligns content vertically */
    justify-content: space-between; /* Space between text and buttons */
    align-items: center;
    padding: 20px;
  }
  
  .container p {
    color: black;
    font-size: large;
    font-weight: bold;
  }

  .container h1 {
    color: black;
    font-size: x-large;
    font-weight: bold;
  }

  .RoleFormContainer {
    width: 75%;
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    gap: 10px; /* Add your desired gap here */
}
  
  /* Buttons container at the bottom of the div */
  .RoleButtonsContainer {
    width: 100%;
    display: inline-flex;
    gap: 20%;
    justify-content: center; /* Center the buttons horizontally */
    margin-bottom: 10px; /* Adjust distance from the bottom */
  }
  
  .role-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Active button styling */
.role-button.active {
    background-color: #45a049; /* Change to the desired active color */
    color: black; /* Change text color if needed */
}

/* Optional: Hover state */
.role-button:hover {
    background-color: #45a049; /* Change this as needed */
}

.SubmitButtonContainer{
  display: flex; /* Use flex to align content */
  justify-content: flex-end; /* Align the button to the right */
  width: 100%; /* Make sure it takes full width */
}

.sign-up-button {
  background-color: #4CAF50; /* Green background */
  color: black; /* White text */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.sign-up-button:hover {
  background-color: #45a049; /* Darker green on hover */
}